@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 30px;
  height: 100%;
}
nav {
  padding-bottom: 10px;
  width: 100%;
}
label.logo {
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bolder;
}
nav ul {
  float: right;
  /* margin-right: 10px; */
  /* margin-top: -50px; */
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0px 5px;
}
nav ul li a {
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}
a.active,
a:hover {
  transition: 0.5s;
}
.checkbtn {
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check {
  display: none;
}

.in-1 {
  font-size: 13px;
  color: black;
}
.main-navbar {
  padding-top: 5px;
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.slide-navbar {
  margin-right: 333px;
}
.slide-navbar.logo {
  font-size: 30px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  padding: 15px 0px;
}
header.sticky {
  padding: 20px 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: crimson;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  line-height: 10px;
}
header.sticky .logo {
  color: crimson;
}
header.sticky .in-1 {
  color: #111;
}
header .nav {
  position: relative;
  display: flex;
}
header .nav li {
  list-style: none;
  margin-left: 30px;
}
header .nav li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
header .nav li a:hover {
  color: crimson;
}
header.sticky .nav li a {
  color: #111;
}
header.sticky .nav li a:hover {
  color: crimson;
}
header.sticky .vary1 {
  background-color: #1daf8f;
}
header .nav li a:hover {
  color: #000000;
}
.vary1 {
  border: 1px solid #1daf8f;
  padding: 10px 20px;
  background-color: #1daf8f;
  color: #000000;
}
.vary1:hover {
  background: rgb(255, 255, 255);
}
ul {
  color: #000000;
  font-weight: 600;
  /* padding-bottom: 100px; */
}
.logo {
  color: crimson;
  font-weight: 500;
}
.bg-image {
  background-image: url(wallpaper/bluewallpaper.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
/* .in-1 {
  font-size: 13px;
  color: black;
}
.slide-navbar {
  padding-top: 0px;
}
.slide-navbar .logo {
  font-size: 30px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  padding: 15px 0px;
}
header.sticky {
  padding: 20px 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: crimson;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  line-height: 10px;
}
header.sticky .logo {
  color: crimson;
}
header.sticky .in-1 {
  color: #111;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}
header .navigation li a:hover {
  color: crimson;
}
header.sticky .navigation li a {
  color: #111;
}
header.sticky .navigation li a:hover {
  color: crimson;
}
header.sticky .vary1 {
  background-color: #1daf8f;
}
header .navigation li a:hover {
  color: #000000;
}
.vary1 {
  border: 1px solid #1daf8f;
  padding: 10px 20px;
  background-color: #1daf8f;
}
.vary1:hover {
  background: rgb(255, 255, 255);
}

.div-sub {
  display: flex;
}
.slideshow-container {
  background-color: green;
} */
.overla {
  height: 100%;
  background-color: red;
}
.mySlides {
  border-color: pink;
}
.text {
  color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.btn {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  margin-top: 5px;
  border: none;
  background: #1daf8f;
  border: 1px solid #1daf8f;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}
.btn a {
  color: black;
}
.btn:hover {
  background-color: #fff;
  color: #000000;
}
.ab {
  font-weight: 400;
  font-size: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
  line-height: 30px;
}

.huge1 {
  box-shadow: 0 0 5px 0 rgba(128, 128, 128, 0.384);
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
  margin-right: 60px;
  margin-top: 100px;
  margin-bottom: 100px;
}
.huge2 {
  margin-top: 130px;
  margin-bottom: 100px;
  margin-left: 30px;
}
.huge4 {
  font-size: 42px;
  font-weight: 500;
  padding-bottom: 40px;
}
.huge {
  display: flex;
}
.huge3 {
  width: 90px;
  height: 90px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.idio1 {
  padding-bottom: 40px;
  font-weight: 500;
}
.idio {
  padding-top: 30px;
  font-weight: 500;
  color: rgb(83, 82, 82);
}
.idio .fa {
  padding: 8px;
  color: #1daf8f;
  background: #cac7c79a;
  border-radius: 50%;
  margin-right: 10px;
}
.idio2 {
  padding-bottom: 100px;
  font-weight: 300;
  color: #817d7d;
}
.co {
  width: 170px;
  height: 60px;
}
.co1 {
  width: 70px;
  height: 70px;
  margin-right: 30px;
}
.but {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  margin-top: 50px;
  margin-right: 300px;
  border: none;
  color: #fff;
  background: #1daf8f;
  font-size: 16px;
  border: 1px solid #1daf8f;
}
.co2 {
  width: 150px;
  height: 60px;
  margin-right: 30px;
}
.sym {
  width: 200px;
  height: 80px;
}
.symbol4 {
  display: flex;
  justify-content: space-between;
}
.symbol1 {
  justify-content: center;
  transform: translate(0, -15%);
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.symbol-bar1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.symbol-bar {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding-top: 22px;
  padding-bottom: 22px;
  color: rgb(97, 97, 97);
}
.com {
  width: 170px;
  height: 50px;
  margin: 30px;
}
.com1 {
  width: 170px;
  height: 80px;
  margin: 30px;
}
.com2 {
  width: 170px;
  height: 60px;
  margin: 30px;
}
.com3 {
  width: 170px;
  height: 60px;
  margin: 30px;
}
.date {
  display: flex;
}
.date2 {
  padding-right: 70px;
}
.text2 {
  font-size: 36px;
  font-weight: 600;
  line-height: 40px;
}
.text3 {
  color: rgb(236, 240, 8);
  font-size: 36px;
  font-weight: 800;
}
.about {
  text-align: center;
  padding-top: 100px;
  display: flex;
}
.me2 {
  margin-top: 24px;
  width: 70px;
  background-color: rgb(241, 66, 95);
  border: 0 none;
  height: 5px;
  color: rgb(241, 66, 95);
}
.me-2 {
  margin-top: 24px;
  width: 70px;
  margin-left: 0px;
  margin-right: 30px;
  background-color: rgb(241, 66, 95);
  border: 0 none;
  height: 5px;
  color: rgb(241, 66, 95);
}
.us {
  font-size: 36px;
  padding-left: 30px;
}
.intent {
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 80px;
  padding-top: 15px;
  flex: 1;
}
.us1 {
  font-size: 36px;
  padding-left: 30px;
  color: #111;
}
.intent1 {
  font-size: 18px;
  font-weight: 300;
  padding-top: 15px;
  padding-bottom: 80px;
  flex: 1;
  color: #111;
  padding-left: 223px;
}

.draw {
  padding-right: 90px;
  flex: 1;
}
.smile {
  display: flex;
  padding-bottom: 150px;
  padding-top: 30px;
  align-items: center;
}
.secure1 {
  font-size: 30px;
  font-weight: 600;
}
.secure2 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
  padding-top: 40px;
}
.girl {
  width: 530px;
  height: 400px;
  padding-left: 100px;
  padding-right: 50px;
  flex: 0.8;
}
.mobile {
  width: 550px;
  height: 550px;
}
.sub {
  font-size: 18px;
  font-weight: 400;
  color: #111;
  padding-bottom: 10px;
}
.sub .fa {
  font-size: 18px;
  font-weight: 400;
  color: #1ba083;
  padding-right: 8px;
}
.sub2 {
  font-size: 18px;
  font-weight: 400;
  color: #111;
  padding-bottom: 10px;
}
.sub2 .fa {
  font-size: 18px;
  font-weight: 400;
  color: #1ba083;
  padding-right: 8px;
}
.sub1 {
  font-size: 18px;
  font-weight: 400;
  color: #111;
  padding-bottom: 10px;
}
.sub1 .fa {
  font-size: 18px;
  font-weight: 400;
  color: #1ba083;
  padding-right: 8px;
}
.para {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
}
.para1 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 20px;
}
.para2 {
  font-size: 14px;
  font-weight: 300;
}

.container2 {
  padding-bottom: 150px;
}
.issue {
  width: 180px;
  height: 180px;
}

.chart {
  display: flex;
  text-align: center;
}
.table {
  display: flex;
  margin-bottom: 100px;
}
.table1 {
  display: flex;
}
.over .fa {
  border-radius: 5px;
  background: #fff;
  font-size: 22px;
  padding: 8px;
  color: #1ba083;
}
.over {
  padding-left: 150px;
}
.over1 {
  flex-grow: 1;
}
.over1 .fa {
  border-radius: 5px;
  background: #fff;
  font-size: 22px;
  padding: 8px;
  color: #1ba083;
}
.sdt1 {
  width: 600px;
  height: 600px;
}
.legal {
  color: #111;
  font-size: 36px;
  font-weight: 500;
  padding-top: 20px;
  padding-bottom: 10px;
  line-height: 40px;
}
.parag {
  font-size: 16px;
  font-weight: 300;
  color: #111;
  line-height: 24px;
  padding-bottom: 10px;
}
.para3 {
  padding-top: 30px;
}
.parag .fa {
  font-size: 16px;
  background: #fff;
  margin-right: 10px;
  padding: 4px;
  color: #1ba083;
}
.para32 {
  font-size: 16px;
  font-weight: 300;
  color: #111;
  line-height: 24px;
  padding-top: 30px;
  margin-right: 120px;
}
.para321 {
  font-size: 16px;
  font-weight: 300;
  color: #111;
  line-height: 24px;
  padding-top: 30px;
}
.recover1 {
  width: 310px;
  height: 410px;
  padding-right: 150px;
  padding-bottom: 20px;
  flex: 0.5;
}
.first {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 36px;
  padding-right: 36px;
}
.first2 {
  background: #fff;
  padding-top: 46px;
  padding-bottom: 46px;
  padding-left: 36px;
  padding-right: 36px;
}
.first3 {
  background: #fff;
  padding-top: 46px;
  padding-bottom: 46px;

  padding-right: 36px;
}
.arial {
  color: rgb(8, 8, 8);
}
.new {
  min-width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}
.temp {
  font-size: 18px;
  padding-top: 18px;
  font-weight: 500;
}
.cont {
  font-size: 12px;
  padding-top: 18px;
  color: rgba(27, 26, 26, 0.425);
  font-weight: 600;
}
.paragraph {
  font-size: 14px;
  padding-top: 18px;
  font-weight: 400;
}
.first1 {
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 36px;
}
.comp {
  width: 200px;
  height: 40px;
}
.comp1 {
  width: 200px;
  height: 70px;
}
.comp3 {
  width: 200px;
  height: 70px;
}
.comp2 {
  width: 200px;
  height: 70px;
}
.fle1 {
  display: flex;
  justify-content: flex-start;
}
.btn9 {
  margin-top: 100px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1ba083;
  border: 1px solid #1ba083;
}
.just-1 {
  text-align: center;
  margin-bottom: 150px;
}
.center {
  text-align: center;
}
.row {
  display: flex;
  margin-right: 30px;
  margin-left: 30px;
}
.bus2 {
  font-size: 16px;
  color: rgb(49, 235, 194);
  font-weight: 400;
}
.bus {
  font-weight: 500;
  padding-bottom: 50px;
}
.bus1 {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 20px;
  line-height: 30px;
}
.bus5 {
  font-weight: 300;
  font-size: 14px;
  padding-bottom: 50px;
  line-height: 30px;
}
.col .fa {
  font-size: 38px;
  background: #1ba083;
  border-radius: 8px;
  padding: 14px;
  margin-top: 6px;
  margin-bottom: 20px;
  color: #fff;
}
.col1 .fa {
  font-size: 38px;
  background: #1ba083;
  border-radius: 8px;
  padding: 14px;
  margin-top: 6px;
  margin-bottom: 20px;
  color: #fff;
}
.col2 .fa {
  font-size: 38px;
  background: #1ba083;
  border-radius: 8px;
  padding: 14px;
  margin-top: 6px;
  margin-bottom: 20px;
  color: #fff;
}
.bus2 .fa {
  font-size: 10px;
  background: #fff;
  color: rgb(49, 235, 194);
  border-radius: 5px;
  padding: 10px;
}

.col {
  margin-left: 20px;
  margin-right: 20px;
  background: #fff;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.col1 {
  margin-left: 70px;
  background: #fff;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.col2 {
  margin-right: 70px;
  background: #fff;
  padding-left: 20px;
  padding-right: 30px;
  padding-top: 20px;
  border-radius: 10px;
  margin-top: 150px;
  margin-bottom: 150px;
}
.ready {
  background-image: url(wallpaper/bluewallpaper1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
.ready1 {
  background-image: url(wallpaper/bluewallpaper1.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
}
.btn1 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1ba083;
  border: none;
}
.grow1 {
  font-size: 24px;
  color: #f2f2f2;
}
.btn31 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1ba083;
  border: none;
}
.grow {
  font-size: 24px;
  color: #f2f2f2;
}
.btn3 {
  margin-top: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1ba083;
  border: none;
}
.testi .intent {
  padding-left: 350px;
}

.btn1:hover {
  color: #1ba083;
  background: #fff;
}
.prev1 {
  margin-right: 20px;
  background: #1ba083;
  color: #fff;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.next1 {
  margin-left: 20px;
  background: #1ba083;
  color: #fff;
  font-size: 20px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 50%;
  cursor: pointer;
}
.btn10 {
  margin-top: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  background: #1ba083;
  border: 1px solid #1ba083;
}
.symbol {
  background: #fff;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  float: right;
  border-radius: 12px;
  transform: translate(120%, 110%);
  box-shadow: 0 4px 8px 0 #1ba08381, 0 6px 12px 0 #1ba08385;
}
.export {
  display: flex;
  padding-left: 30px;
}
.export .fas {
  color: #1ba083;
}
.review {
  display: flex;
  background: #fff;
}
.nath {
  background: rgb(100, 190, 186);
  padding-top: 40px;
  padding-bottom: 40px;
}
.view {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: rgb(100, 190, 186);
  margin-left: 50px;

  transform: translate(42%, 0);
}
.view1 {
  background: rgba(224, 222, 222, 0.267);
  color: #111;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 50px;
}
.view2 {
  padding-left: 30px;
  padding-top: 20px;
  padding-right: 30px;
  color: rgb(146, 143, 143);
  font-weight: 500;
  line-height: 40px;
  padding-bottom: 10px;
}
.view3 {
  padding-left: 30px;
  padding-top: 20px;
  font-size: 18px;
  color: #111;
  font-weight: 500;
}
.view4 {
  padding-left: 30px;
  color: #111;
  padding-bottom: 10px;
  font-weight: 400;
}
.review .view1 .view2 .fa {
  font-size: 36px;
  color: #1ba083;
  padding-right: 10px;
}
.footer {
  background: rgb(246, 246, 253);
}
.goog {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icon1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.better {
  display: flex;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 100px;
  justify-content: space-between;
}
.goog {
  padding-top: 10px;
  padding-bottom: 20px;
}
.icon {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #4a4b4d;
  line-height: 30px;
}
.icon:hover {
  color: crimson;
  font-weight: 500;
}
.hear .fa {
  color: red;
}
.hear {
  margin-top: 10px;
}
.phone {
  color: rgb(0, 110, 255);
  margin-top: 10px;
}
.techno {
  font-weight: 800;
  padding-bottom: 20px;
}
.ico .fa:hover {
  color: white;
  background-color: red;
}
.ico .fa {
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 10px;
  background: rgba(197, 195, 195, 0.829);
  color: #111;
}
.feature-sec {
  display: flex;
  margin-left: 90px;
  margin-right: 70px;
}
.fee {
  width: 370px;
  height: 270px;
  border-radius: 20px;
}
.fee1 {
  padding-top: 30px;
  padding-bottom: 30px;
  font-weight: 500;
  line-height: 30px;
  padding-right: 20px;
}
.fee2 {
  font-size: 14px;
  font-weight: 300;
  padding-bottom: 30px;
  padding-right: 20px;
}
.asr {
  color: #111;
}
.asr:hover {
  color: red;
}
.btn3:hover {
  color: #1ba083;
  background: #fff;
}
.btn31:hover {
  color: #1ba083;
  background: #fff;
}
.but:hover {
  color: #1ba083;
  background: #fff;
  border: 1px solid #1ba083;
}
.btn9:hover {
  color: #1ba083;
  background: #fff;
  border: 1px solid #1ba083;
}
.btn10:hover {
  color: #1ba083;
  background: #fff;
  border: 1px solid #1ba083;
}

/*............Navbar............ */

/*............. MEDIA QUERIES................ */

@media screen and (max-width: 1200px) {
  nav ul li a {
    color: black;
    font-size: 12px;
  }
  .in-1 {
    font-size: 50px;
  }
}

@media screen and (max-width: 1090px) {
  .date {
    flex-direction: column;
    align-items: center;
  }
  .mobile {
    order: 1;
    width: 50%;
    height: 50%;
    margin-bottom: 50px;
  }
  .date2 {
    order: 2;
  }
  .about .intent {
    padding-left: 50px;
  }
  .over {
    padding-left: 20px;
  }
  .but {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-right: 100px;
  }
  /* header {
    padding: 15px 30px;
  }
  header.sticky {
    padding: 0px 30px;
  } */
  .btn {
    font-size: 14px;
  }
  .huge {
    flex-direction: column;
  }
}

@media screen and (max-width: 975px) {
  /* header {
    padding: 15px 30px;
  } */
  /* .in-1 {
    display: none;
  } */
  /* .vary1 {
    padding: 5px 10px;
  } */
  /* .header .navigation li {
    margin-left: 20px;
  } */
  .text2 {
    font-size: 30px;
  }
  .ab {
    font-size: 16px;
    line-height: 20px;
  }
  .btn {
    margin-top: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .com2 {
    margin: 10px;
  }
  .com3 {
    margin: 10px;
  }
  .com {
    margin: 10px;
  }
  .com1 {
    margin: 10px;
  }
  /* header.sticky {
    padding: 0px 30px;
  } */
  .over1 {
    flex-grow: 1.5;
  }
  .sdt {
    flex-grow: 0.8;
  }
  .overlay {
    flex-grow: 1.5;
  }
  .wall {
    flex-grow: 0.8;
  }
  .huge {
    flex-direction: column;
  }
  .us {
    font-size: 30px;
  }
  .us1 {
    font-size: 30px;
  }
  .intent1 {
    font-size: 16px;
    padding-left: 180px;
  }
  .huge4 {
    font-size: 30px;
    font-weight: bold;
  }
}
@media screen and (max-width: 750px) {
  .wall {
    display: none;
  }
  /* header {
    padding: 15px 30px;
  }
  header .logo {
    font-size: 1.5em;
  } */
  /* .in-1 {
    font-size: 11px;
  } */
  /* .navigation li {
    list-style: none;
    font-size: 13px;
  } */
  /* .vary1 {
    padding: 5px 1px;
  } */
  .ab {
    padding-bottom: 40px;
  }
  .about {
    align-items: baseline;
  }
  .us {
    font-size: 25px;
  }
  .us1 {
    font-size: 25px;
  }
  .intent1 {
    padding-left: 30px;
  }
  .legal {
    font-size: 25px;
  }
  .over {
    padding-left: 45px;
  }
  .para32 {
    margin-right: 20px;
  }
  .huge {
    flex-direction: column;
  }
  .huge1 {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .huge2 {
    margin-top: 30px;
  }
  .huge3 {
    margin-top: 20px;
    margin-bottom: 10px;
  }
  .huge4 {
    font-size: 25px;
    font-weight: bold;
  }
  .but {
    margin-left: 30px;
  }
  .about {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .fle1 {
    flex-direction: column;
  }
  .first1 {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
  }
  .first3 {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 20px;
  }
  .arial {
    padding-left: 20px;
    padding-bottom: 20px;
  }
  .view2 {
    font-size: 12px;
  }
  .stay1 {
    padding-top: 20px;
  }
  .view1 {
    padding-top: 15px;
    padding-bottom: 1px;
  }
}

@media screen and (max-width: 650px) {
  .huge1 {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-right: 10px;
    font-size: 14px;
  }
  .view2 {
    font-size: 10px;
    line-height: 40px;
  }
  .better {
    flex-direction: column;
    font-size: 12px;
  }
  .techno {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .smile {
    flex-direction: column;
  }
  .sdt {
    display: none;
  }
  /* .header {
    padding: 15px 5px;
  } */
}

@media screen and (max-width: 502px) {
  .text2 {
    font-size: 28px;
    line-height: 28px;
  }
  .ab {
    font-size: 15px;
    padding-bottom: 20px;
  }
  .btn {
    font-size: 14px;
    color: #fff;
  }
  .symbol-bar {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  .com {
    width: 150px;
    height: 40px;
  }
  .com1 {
    width: 150px;
    height: 55px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .com2 {
    width: 150px;
    height: 40px;
  }
  .com3 {
    width: 150px;
    height: 40px;
  }
  .about {
    flex-direction: column;
    align-items: center;
  }
  .us {
    padding-left: 0px;
    font-size: 20px;
    text-decoration: underline;
  }
  .me2 {
    display: none;
  }
  .intent {
    font-size: 14px;
  }
  .about .intent {
    padding-left: 0px;
  }
  .date2 {
    padding-right: 5px;
  }
  .secure1 {
    font-size: 25px;
  }
  .secure2 {
    font-size: 12px;
  }
  .sub {
    font-weight: bold;
    font-size: 16px;
  }
  .sub1 {
    font-weight: bold;
    font-size: 16px;
  }
  .sub2 {
    padding-top: 10px;
    font-weight: bold;
    font-size: 16px;
  }
  .smile {
    padding-bottom: 60px;
  }
  .ready {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .grow {
    font-size: 20px;
  }
  .btn3 {
    font-size: 13px;
  }
  .us1 {
    text-decoration: underline;
    font-size: 20px;
  }
  .intent1 {
    padding-left: 0px;
    font-size: 14px;
  }
  .btn1 {
    font-size: 12px;
  }
  .huge1 {
    font-size: 12px;
  }
  .me-2 {
    display: none;
  }
  .huge4 {
    padding-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
  }
  .idio2 {
    text-align: center;
    font-size: 14px;
  }
  .symbol4 {
    flex-wrap: wrap;
  }
  .but {
    margin-left: 0px;
    font-size: 12px;
  }
  .btn9 {
    font-size: 12px;
  }
  .view1 {
    padding-left: 20px;
  }
  .view2 {
    padding-top: 10px;
    line-height: 20px;
  }
  .export {
    padding-top: 20px;
  }
  .view3 {
    padding-top: 10px;
  }
  .view4 {
    padding-bottom: 0px;
  }
  .btn10 {
    font-size: 12px;
  }
  .ready1 {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .better {
    flex-direction: column;
  }
  .techno {
    padding-top: 20px;
    padding-bottom: 0px;
  }
  .sdt {
    display: none;
  }
  /* header {
    padding: 15px 0px;
  } */
  .over {
    padding-left: 0px;
  }
  .para32 {
    padding-top: 0px;
  }
  .para321 {
    padding-top: 0px;
  }
  .co1 {
    display: none;
  }
  .co2 {
    margin-bottom: 15px;
    margin-right: 10px;
  }
  .div-sub {
    justify-content: center;
  }
}

/* MEDIA QUERY */

/* @media (max-width: 952px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}
@media (max-width: 858px) {
  .checkbtn {
    display: block;
  }

  header nav {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
  }
  a:hover,
  a.active {
    background: none;
  }
  #check:checked ~ ul {
    left: 0;
  }
} */
