@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.main-container {
  max-width: 1300px;
  margin: auto;
  padding: 0px 30px;
  height: 100%;
}
.in-1 {
  font-size: 12px;
  color: rgb(32, 31, 31);
}
.india {
  padding-top: 20px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.4s;
  padding: 15px 0px;
}
header.sticky {
  padding: 25px 0px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .logo {
  color: crimson;
  font-weight: 700;
  font-size: 2em;
  text-decoration: none;
  line-height: 10px;
}
header.sticky .logo {
  color: crimson;
}
header.sticky .in-1 {
  color: #111;
}
header .navigation {
  position: relative;
  display: flex;
}
header .navigation li {
  list-style: none;
  margin-left: 30px;
}
header .navigation li a {
  text-decoration: none;
  color: rgb(32, 31, 31);
  font-weight: 500;
}
header.sticky .navigation li a {
  color: #111;
}
header.sticky .vary1 {
  color: #1ba083;
}
header .navigation li a:hover {
  color: #000000;
}
.vary1:hover {
  background: #fff;
}
.vary1 {
  border: 1px solid #1daf8f;
  padding: 10px 20px;
  background-color: #1daf8f;
}
.client {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sdt {
  width: 100%;
  height: 100%;
}
.sub-content {
  font-size: 48px;
  line-height: 50px;
  font-weight: 600;
}
.client-1 p {
  font-size: 18px;
  font-weight: 300;
  padding-top: 30px;
}
.but {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 36px;
  padding-right: 36px;
  font-weight: 400;
  margin-top: 50px;
  border: none;
  color: #fff;
  background: #1daf8f;
  font-size: 16px;
  border: 1px solid #1daf8f;
}
.container {
  background: #fff;
}
.grid-main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding-bottom: 50px;
}
.content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 4px 20px rgba(29, 175, 143, 0.2);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 5px;
}
.first1 {
  padding-left: 50px;
}
.first {
  width: 80%;
  height: 80%;
}
.second {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
}
.export {
  display: flex;
  justify-content: center;
}
.export .fas {
  color: #1daf8f;
  font-size: 14px;
  padding: 1px;
}
.content1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 4px 20px rgba(29, 175, 143, 0.2);
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.first2 {
  background: rgb(243, 246, 252);
}
.first3 {
  width: 80%;
  height: 80%;
}
.second1 {
  font-size: 18px;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 12px;
  text-align: center;
}
.export1 {
  display: flex;
  justify-content: center;
}
.export1 .fas {
  color: rgb(29, 175, 143);
  font-size: 14px;
  padding: 1px;
}

.footer {
  background: rgb(246, 246, 253);
  margin-top: 150px;
}
.goog {
  padding-top: 10px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon1 {
  display: flex;
  list-style: none;
  justify-content: space-between;
}
.better {
  display: flex;
  list-style: none;
  padding-bottom: 30px;
  padding-top: 100px;
  justify-content: space-between;
}
.icon {
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  color: #4a4b4d;
  line-height: 30px;
}

.hear .fa {
  color: red;
}
.hear {
  margin-top: 10px;
}
.phone {
  color: rgb(0, 110, 255);
  margin-top: 10px;
}
.techno {
  font-weight: 800;
  padding-bottom: 20px;
}
.ico .fa:hover {
  color: white;
  background-color: red;
}

.ico .fa {
  text-decoration: none;
  margin-left: 20px;
  margin-top: 10px;
  border-radius: 6px;
  padding: 10px;
  background: rgba(197, 195, 195, 0.829);
  color: #111;
}
/* MEDIA QUIRES */

@media screen and (max-width: 1090px) {
  header {
    padding: 0px 30px;
  }
  header.sticky {
    padding: 0px 30px;
  }
  .sub-content {
    font-size: 44px;
    line-height: 46px;
    font-weight: 600;
  }
  .client-1 p {
    font-size: 16px;
    font-weight: 300;
    padding-top: 30px;
  }
  .but {
    font-size: 14px;
  }
  .vary1 {
    font-size: 14px;
  }
  .second {
    font-size: 15px;
  }
  .second1 {
    font-size: 15px;
  }
  .content-1 {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 860px) {
  .grid-main {
    grid-template-columns: repeat(2, 1fr);
  }
  .sdt {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .grid-main {
    grid-template-columns: repeat(1, 400px);
    justify-content: center;
  }

  .content-1 {
    align-items: center;
    justify-content: center;
  }
  .sub-content {
    font-size: 40px;
  }
  .client-1 p {
    font-size: 15px;
  }
  .better {
    flex-direction: column;
    font-size: 12px;
  }
  .techno {
    padding-top: 20px;
    padding-bottom: 0px;
  }
}
